.page-wrap{
    display:flex;
    flex-direction: column;
    //justify-content: space-around;
    align-items: flex-start;
}

.flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    margin-bottom: 15px;
    border: 2px solid white;
    border-radius: 5px;
}

.flex-item{
    flex: 1;
}

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

#message {
    position:fixed;
    color: #D8000C;
    background-color: #FFBABA;
    border: 2px solid red;
}